#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 21px;
}
#header4-3 P {
  text-align: left;
}
#header4-3 H1 {
  text-align: left;
}
#msg-box4-4 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4 .mbr-article {
  color: #ffffff;
}
#content4-6 .mbr-section__col .mbr-header__text {
  text-align: left;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#content5-8 .mbr-article P {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-6 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-6 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6 .mbr-article {
  color: #fff;
}
#content5-6 .mbr-article P {
  color: #000000;
}
