html, body {
  width: 100%;
  height: 100%;
}

.bg-img {
  width: 100%;
  height: 100%;
  background: url(../../images/beer.gif) center center no-repeat;
  background-size: cover;
}

.bg-img:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#002f4b,#241e15);
		opacity: .6;
}

#logo {
	height: 100%;
	width: 100%;
	background: url(../../images/logo.png) center 80px no-repeat;
	position: absolute;
	z-index: 100;
}